h2 {
    text-align: left
}

h1 {
    text-align: center
}

a {
    color: #FFFFFF
}

body {
      background-color: #D31919
}

h1 {
    color: white
}

h2 {
    color: #7A0808 
}

table {
       border: solid 1px black;
}

th {
	border : solid 1px black;
}

table {
       margin: auto
}

th {
    text-align: center
}
